Repository vshn/application-catalog-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: adr-status-valid, adr-index, navigation

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: adr-status-valid
        name: Validate ADR status
        entry: hack/adr-tool.py
        args:
          - validate
        language: python
        files: ^docs/modules/ROOT/pages/adr/
      - id: adr-index
        name: Generate ADR Index
        entry: hack/adr-tool.py
        args:
          - generate
        language: python
        files: ^docs/modules/ROOT/pages/adr/
      - id: navigation
        name: Validate Navigation
        entry: hack/check-nav.py
        language: python
        files: ^docs/modules/ROOT/pages/

initial version of odoo hosting
  docs/modules/ROOT/pages/adr/odoo-architecture.adoc
Due: adr-status-valid, adr-index, navigation

add diagrams
  docs/modules/ROOT/pages/adr/odoo-architecture.adoc
Due: adr-status-valid, adr-index, navigation

fix some issues with the font
  docs/modules/ROOT/pages/adr/odoo-architecture.adoc
Due: adr-status-valid, adr-index, navigation

create new service page
  docs/modules/ROOT/pages/service/odoo/architecture.adoc
  docs/modules/ROOT/pages/service/odoo/index.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

initial work on web portal specs
  docs/modules/ROOT/pages/framework/webportal.adoc
Due: navigation

continuation
  docs/modules/ROOT/pages/framework/webportal.adoc
Due: navigation

support refined
  docs/modules/ROOT/pages/framework/webportal.adoc
Due: navigation

add simple mockup
  docs/modules/ROOT/assets/images/vamp-portal-mockup.drawio.svg
  docs/modules/ROOT/pages/framework/webportal.adoc
Due: navigation

move doc to the correct place
  docs/modules/ROOT/pages/control-plane/webportal.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

service arch continuation
  docs/modules/ROOT/pages/control-plane/odoo-webshop.adoc
  docs/modules/ROOT/pages/service/odoo/architecture.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Add information about non-converged setups
  docs/modules/ROOT/pages/framework/non-converged.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Add ADR for Function Revisions
  docs/modules/ROOT/pages/adr/0030-function-revisions.adoc
  docs/modules/ROOT/pages/adr/index.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  templates/adr/cookiecutter.json
Due: adr-status-valid, adr-index, navigation

WIP notes on a classic web portal
  docs/modules/ROOT/assets/images/portal-webapp-arch.drawio.svg
  docs/modules/ROOT/pages/control-plane/central-control-plane-arch.adoc
  docs/modules/ROOT/pages/control-plane/classic-webapp-portal.adoc
  docs/modules/ROOT/pages/csp/exoscale/osbapiv2.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Update docs/modules/ROOT/pages/framework/non-converged.adoc
  docs/modules/ROOT/pages/framework/non-converged.adoc
Due: navigation

Add suggestsions from review
  docs/modules/ROOT/pages/adr/0030-function-revisions.adoc
Due: adr-status-valid, adr-index, navigation

wip moar
  docs/modules/ROOT/pages/control-plane/classic-webapp-portal.adoc
Due: navigation

fix description of adr status in template
  templates/adr/cookiecutter.json
Due: none

adapt claim doc to implementation
  docs/modules/ROOT/pages/service/forgejo-codey/architecture.adoc
Due: navigation

adapt forgejo and codey claim doc to implementation (#134)
  docs/modules/ROOT/pages/service/forgejo-codey/architecture.adoc
Due: navigation

full write-up of portal definition
  docs/modules/ROOT/assets/images/portal-webapp-arch.drawio.svg
  docs/modules/ROOT/assets/images/servala.png
  docs/modules/ROOT/assets/images/web-portal-arch.drawio.svg
  docs/modules/ROOT/pages/control-plane/central-control-plane-arch.adoc
  docs/modules/ROOT/pages/control-plane/classic-webapp-portal.adoc
  docs/modules/ROOT/pages/control-plane/web-portal.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

wip rework exoscale OSB API
  docs/modules/ROOT/pages/csp/exoscale/osbapiv2.adoc
Due: navigation

db diagram and further improvements
  docs/modules/ROOT/pages/control-plane/web-portal.adoc
Due: navigation

initial dump of user stories
  docs/modules/ROOT/pages/control-plane/web-portal-user-stories.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

deduplicate for better readability
  docs/modules/ROOT/pages/control-plane/web-portal-user-stories.adoc
Due: navigation

progress on user stories
  docs/modules/ROOT/pages/control-plane/web-portal-user-stories.adoc
Due: navigation

add msp stories
  docs/modules/ROOT/pages/control-plane/web-portal-user-stories.adoc
Due: navigation

Forgejo restore docs
  docs/modules/ROOT/pages/service/forgejo-codey/restore.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Forgejo restore docs (#136)
  docs/modules/ROOT/pages/service/forgejo-codey/restore.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Add information about testing branches
  docs/modules/ROOT/pages/adr/0030-function-revisions.adoc
Due: adr-status-valid, adr-index, navigation

Add note about cloudbilling
  docs/modules/ROOT/pages/framework/cloud-usage-reporting.adoc
Due: navigation

Add high level description about RBAC
  docs/modules/ROOT/pages/control-plane/split-architecture.adoc
Due: navigation

Update docs/modules/ROOT/pages/control-plane/split-architecture.adoc
  docs/modules/ROOT/pages/control-plane/split-architecture.adoc
Due: navigation

deprecation notice of ccp and osbapi
  docs/modules/ROOT/pages/control-plane/central-control-plane-arch.adoc
  docs/modules/ROOT/pages/csp/exoscale/osbapi.adoc
Due: navigation

Document disaster recovery in case of complete cluster loss
  docs/modules/ROOT/pages/csp/appuio/runbooks/disaster-recover-appcat.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

VSHNMariaDB restore docs
  docs/modules/ROOT/pages/service/mariadb/restore.adoc
Due: navigation

VSHNMariaDB Restore docs
  docs/modules/ROOT/pages/service/mariadb/restore.adoc
Due: navigation

Add ADR for servala clusters and url naming scheme
  docs/modules/ROOT/pages/adr/0031-naming-scheme-for-servala-cluster-names-and-urls.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  templates/adr/cookiecutter.json
Due: adr-status-valid, adr-index, navigation

Update docs/modules/ROOT/pages/adr/0031-naming-scheme-for-servala-cluster-names-and-urls.adoc
  docs/modules/ROOT/pages/adr/0031-naming-scheme-for-servala-cluster-names-and-urls.adoc
Due: adr-status-valid, adr-index, navigation
