Repository vshn/application-catalog-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: adr-status-valid, adr-index, navigation

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: adr-status-valid
        name: Validate ADR status
        entry: hack/adr-tool.py
        args:
          - validate
        language: python
        files: ^docs/modules/ROOT/pages/adr/
      - id: adr-index
        name: Generate ADR Index
        entry: hack/adr-tool.py
        args:
          - generate
        language: python
        files: ^docs/modules/ROOT/pages/adr/
      - id: navigation
        name: Validate Navigation
        entry: hack/check-nav.py
        language: python
        files: ^docs/modules/ROOT/pages/

Add decision
  docs/modules/ROOT/pages/adr/0036-revisiting-postgresql-operators.adoc
Due: adr-status-valid, adr-index, navigation

VALE
  docs/modules/ROOT/pages/adr/0036-revisiting-postgresql-operators.adoc
Due: adr-status-valid, adr-index, navigation

Update docs/modules/ROOT/pages/adr/0036-revisiting-postgresql-operators.adoc
  docs/modules/ROOT/pages/adr/0036-revisiting-postgresql-operators.adoc
Due: adr-status-valid, adr-index, navigation

some text refactoring
  docs/modules/ROOT/pages/adr/0036-revisiting-postgresql-operators.adoc
Due: adr-status-valid, adr-index, navigation

Document appcat workflows
  docs/modules/ROOT/assets/images/feature-request.svg
  docs/modules/ROOT/assets/images/hotfix.svg
  docs/modules/ROOT/assets/images/release.svg
  docs/modules/ROOT/pages/framework/ci-cd.adoc
Due: navigation

Add CD part
  docs/modules/ROOT/pages/framework/ci-cd.adoc
Due: navigation

Update CI CD process
  docs/modules/ROOT/pages/framework/ci-cd.adoc
Due: navigation

Add ADR for MariaDB Bitnami replacement
  docs/modules/ROOT/pages/adr/0037-mariadb-bitnami-replacement.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  templates/adr/cookiecutter.json
Due: adr-status-valid, adr-index, navigation

Add AppCat rollback guide
  docs/modules/ROOT/pages/framework/runbooks/AppCatRollback.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Add more to bitnami
  docs/modules/ROOT/pages/adr/0037-mariadb-bitnami-replacement.adoc
Due: adr-status-valid, adr-index, navigation

Adjust apps and api domains to new naming scheme
  docs/modules/ROOT/pages/adr/0031-naming-scheme-for-servala-cluster-names-and-urls.adoc
Due: adr-status-valid, adr-index, navigation

Add runbook for redis ha alerts
  docs/modules/ROOT/pages/framework/runbooks/AppCatRedis.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Add docs how to use automated rollout
  docs/modules/ROOT/pages/csp/spks/automated_rollout.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Improve the docs
  docs/modules/ROOT/pages/adr/0037-mariadb-bitnami-replacement.adoc
Due: adr-status-valid, adr-index, navigation

Fix wrong nav
  docs/modules/ROOT/partials/nav.adoc
Due: none

Add Redis alternative ADR
  docs/modules/ROOT/pages/adr/0038-appcat-redis-alternative.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  templates/adr/cookiecutter.json
Due: adr-status-valid, adr-index, navigation

Add appcat release runbook
  docs/modules/ROOT/pages/framework/runbooks/AppCatRelease.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Fix variable interpolation in mariadb runbook
  docs/modules/ROOT/pages/csp/spks/runbooks/mariadb_galera/MySQLGaleraClusterDown.adoc
Due: navigation

Update URL naming scheme for Servala clusters
  docs/modules/ROOT/pages/adr/0031-naming-scheme-for-servala-cluster-names-and-urls.adoc
Due: adr-status-valid, adr-index, navigation

Init ADR for managed OpenBao on AppCat
  docs/modules/ROOT/pages/adr/0039-managed-openbao.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
Due: adr-status-valid, adr-index, navigation

Use description lists instead of bold title and list combination
  docs/modules/ROOT/pages/adr/0039-managed-openbao.adoc
Due: adr-status-valid, adr-index, navigation

Adjust URLs to actual DNS config
  docs/modules/ROOT/pages/adr/0031-naming-scheme-for-servala-cluster-names-and-urls.adoc
  docs/modules/ROOT/pages/adr/index.adoc
Due: adr-status-valid, adr-index, navigation

Fix examples for cluster names
  docs/modules/ROOT/pages/adr/0031-naming-scheme-for-servala-cluster-names-and-urls.adoc
Due: adr-status-valid, adr-index, navigation

Fix spelling of management, K8up instead of K8sup and `ObjectBucket`
  docs/modules/ROOT/pages/adr/0039-managed-openbao.adoc
Due: adr-status-valid, adr-index, navigation

Document Servala cluster setups
  docs/modules/ROOT/pages/how-tos/add-servala-control-cluster.adoc
  docs/modules/ROOT/pages/how-tos/add-servala-service-cluster.adoc
  docs/modules/ROOT/pages/how-tos/connect-to-servala-control-cluster.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

initialize ADR document
  docs/modules/ROOT/pages/adr/0039-servala-framework-requirements.adoc
  docs/modules/ROOT/pages/adr/index.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  templates/adr/cookiecutter.json
Due: adr-status-valid, adr-index, navigation

Bootstrap ADR 0040
  docs/modules/ROOT/pages/adr/0040-adr-for-codey-git-ssh-access.adoc
  docs/modules/ROOT/pages/adr/index.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  templates/adr/cookiecutter.json
Due: adr-status-valid, adr-index, navigation

K8s integration is not part of this ADR
  docs/modules/ROOT/pages/adr/0039-managed-openbao.adoc
Due: adr-status-valid, adr-index, navigation

Remove AppCat integration advantage
  docs/modules/ROOT/pages/adr/0039-managed-openbao.adoc
Due: adr-status-valid, adr-index, navigation

initial content for requirements
  docs/modules/ROOT/pages/adr/0039-servala-framework-requirements.adoc
Due: adr-status-valid, adr-index, navigation

Bootstrap ADR 0042
  docs/modules/ROOT/pages/adr/42-backup-encryption-for-mariadb-galera-and-postgresql.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  templates/adr/cookiecutter.json
Due: adr-status-valid, adr-index, navigation

Add API specification and auto-unseal configuration to OpenBao ADR
  docs/modules/ROOT/pages/adr/0039-managed-openbao.adoc
Due: adr-status-valid, adr-index, navigation

Evaluation of rclone and s3proxy
  docs/modules/ROOT/pages/adr/42-backup-encryption-for-mariadb-galera-and-postgresql.adoc
Due: adr-status-valid, adr-index, navigation

Add findings for ADR 0040
  docs/modules/ROOT/pages/adr/0040-adr-for-codey-git-ssh-access.adoc
Due: adr-status-valid, adr-index, navigation

Document descision and and how to use rclone with mariadb and cnpg
  docs/modules/ROOT/pages/adr/42-backup-encryption-for-mariadb-galera-and-postgresql.adoc
Due: adr-status-valid, adr-index, navigation

Update ADR 0040
  docs/modules/ROOT/pages/adr/0040-adr-for-codey-git-ssh-access.adoc
Due: adr-status-valid, adr-index, navigation
