Repository vshn/application-catalog-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: adr-status-valid, adr-index, navigation

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: adr-status-valid
        name: Validate ADR status
        entry: hack/adr-tool.py
        args:
          - validate
        language: python
        files: ^docs/modules/ROOT/pages/adr/
      - id: adr-index
        name: Generate ADR Index
        entry: hack/adr-tool.py
        args:
          - generate
        language: python
        files: ^docs/modules/ROOT/pages/adr/
      - id: navigation
        name: Validate Navigation
        entry: hack/check-nav.py
        language: python
        files: ^docs/modules/ROOT/pages/

Update docs/modules/ROOT/pages/adr/0031-naming-scheme-for-servala-cluster-names-and-urls.adoc
  docs/modules/ROOT/pages/adr/0031-naming-scheme-for-servala-cluster-names-and-urls.adoc
Due: adr-status-valid, adr-index, navigation

List to explain the parameters Signed-off-by: Nicolas Bigler <nicolas.bigler@vshn.ch>
  docs/modules/ROOT/pages/adr/0031-naming-scheme-for-servala-cluster-names-and-urls.adoc
Due: adr-status-valid, adr-index, navigation

Fix typo
  docs/modules/ROOT/pages/adr/0031-naming-scheme-for-servala-cluster-names-and-urls.adoc
Due: adr-status-valid, adr-index, navigation

MariaDB restore docs add to navigation
  docs/modules/ROOT/partials/nav.adoc
Due: none

MariaDB restore docs add to navigation (#141)
  docs/modules/ROOT/partials/nav.adoc
Due: none

Add playbook to restore Redis Backman backup
  docs/modules/ROOT/pages/csp/spks/runbooks/redis/RedisRestoreBackman.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Add ci pipeline ADR
  docs/modules/ROOT/assets/images/adr-0032-develop-fr.png
  docs/modules/ROOT/assets/images/adr-0032-hotfix.png
  docs/modules/ROOT/assets/images/adr-0032-master-develop.png
  docs/modules/ROOT/pages/adr/0032-ci-pipeline.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
Due: adr-status-valid, adr-index, navigation

ADR for billing system
  docs/modules/ROOT/pages/adr/0033-event-based-billing-oddo.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
Due: adr-status-valid, adr-index, navigation

Add ADR for Redis HA
  docs/modules/ROOT/assets/images/adr-0034-redis-sentinel-haproxy.png
  docs/modules/ROOT/assets/images/adr-0034-redis-sentinel.png
  docs/modules/ROOT/pages/adr/0034-vshnredis-high-availability.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  templates/adr/cookiecutter.json
Due: adr-status-valid, adr-index, navigation

Update docs/modules/ROOT/pages/adr/0034-vshnredis-high-availability.adoc
  docs/modules/ROOT/pages/adr/0034-vshnredis-high-availability.adoc
Due: adr-status-valid, adr-index, navigation

Minio installation guide
  docs/modules/ROOT/pages/service/minio/install.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Update the servala naming scheme
  docs/modules/ROOT/pages/adr/0031-naming-scheme-for-servala-cluster-names-and-urls.adoc
Due: adr-status-valid, adr-index, navigation

Add ADR for Redis HA
  docs/modules/ROOT/assets/images/adr-0034-redis-sentinel-controller.png
  docs/modules/ROOT/assets/images/adr-0034-redis-sentinel-haproxy.png
  docs/modules/ROOT/assets/images/adr-0034-redis-sentinel.png
  docs/modules/ROOT/pages/adr/0034-vshnredis-high-availability.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  templates/adr/cookiecutter.json
Due: adr-status-valid, adr-index, navigation

Add ADR for Redis HA
  docs/modules/ROOT/pages/adr/0034-vshnredis-high-availability.adoc
Due: adr-status-valid, adr-index, navigation

Add ADR for iKube 2.0 migration
  docs/modules/ROOT/pages/adr/0035-ikube-2-0-migration-appcat.adoc
  docs/modules/ROOT/pages/adr/index.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  templates/adr/cookiecutter.json
Due: adr-status-valid, adr-index, navigation

Update docs/modules/ROOT/pages/adr/0035-ikube-2-0-migration-appcat.adoc
  docs/modules/ROOT/pages/adr/0035-ikube-2-0-migration-appcat.adoc
Due: adr-status-valid, adr-index, navigation

Add decision into the summary
  docs/modules/ROOT/pages/adr/0035-ikube-2-0-migration-appcat.adoc
Due: adr-status-valid, adr-index, navigation

Add new comparison
  docs/modules/ROOT/pages/adr/0036-revisiting-postgresql-operators.adoc
  docs/modules/ROOT/pages/adr/index.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  templates/adr/cookiecutter.json
Due: adr-status-valid, adr-index, navigation
