Repository vshn/application-catalog-docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: adr-status-valid, adr-index, navigation

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: adr-status-valid
        name: Validate ADR status
        entry: hack/adr-tool.py
        args:
          - validate
        language: python
        files: ^docs/modules/ROOT/pages/adr/
      - id: adr-index
        name: Generate ADR Index
        entry: hack/adr-tool.py
        args:
          - generate
        language: python
        files: ^docs/modules/ROOT/pages/adr/
      - id: navigation
        name: Validate Navigation
        entry: hack/check-nav.py
        language: python
        files: ^docs/modules/ROOT/pages/

Add Framework 2.0 to nav
  docs/modules/ROOT/partials/nav.adoc
Due: none

Describe isolation with gvisor and single namespace approach
  docs/modules/ROOT/pages/adr/0054-vshn-managed-forgejo-runners.adoc
Due: adr-status-valid, adr-index, navigation

Create api-converter.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/api-converter.adoc
Due: navigation

Update docs/modules/ROOT/partials/nav.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: none

Add note about dedicated runner service
  docs/modules/ROOT/pages/adr/0054-vshn-managed-forgejo-runners.adoc
Due: adr-status-valid, adr-index, navigation

Correct APPUiO naming
  docs/modules/ROOT/pages/adr/0054-vshn-managed-forgejo-runners.adoc
Due: adr-status-valid, adr-index, navigation

Describe scope of not offering on APPUiO
  docs/modules/ROOT/pages/adr/0054-vshn-managed-forgejo-runners.adoc
Due: adr-status-valid, adr-index, navigation

Add Slapper ADRs
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0001-api-converter.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/api-converter.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Revert "Add Slapper ADRs"
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0001-api-converter.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/api-converter.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Remove deprecated Servala pages
  docs/modules/ROOT/pages/how-tos/connect-to-servala-control-cluster.adoc
Due: navigation

Remove deprecated servala pages
  docs/modules/ROOT/pages/how-tos/add-servala-service-cluster.adoc
Due: navigation

Delete docs/modules/ROOT/pages/how-tos/add-servala-control-cluster.adoc
  docs/modules/ROOT/pages/how-tos/add-servala-control-cluster.adoc
Due: navigation

Update nav.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: none

Amend changes from stdlib loader
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0001-api-converter.adoc
Due: navigation

Make vale happy
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0001-api-converter.adoc
  docs/modules/ROOT/partials/nav-adrs.adoc
Due: navigation

Add ADR for CLAP
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0002-claim-lifecycle-and-provisioner-clap.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Reword "in-flight" to "in-progress"
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0002-claim-lifecycle-and-provisioner-clap.adoc
Due: navigation

Stdlib loader
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0002-stdlib-loader.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Fix numbering
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0003-stdlib-loader.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Add sli exporter runbooks
  docs/modules/ROOT/pages/framework/runbooks/AppCatSLIExporterDown.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Update clap ADR with CRD generation
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0002-claim-lifecycle-and-provisioner-clap.adoc
Due: navigation

Make vale happy
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0003-stdlib-loader.adoc
Due: navigation

Add helm renderer ADR
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0004-helm-renderer.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

Make vale happy
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0004-helm-renderer.adoc
Due: navigation

Fix number in slapper stdlib loader
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0003-stdlib-loader.adoc
Due: navigation

Improve appcat runbooks
  docs/modules/ROOT/pages/adr/0051-standarized-status-fields-for-appcat-services.adoc
  docs/modules/ROOT/pages/control-plane/central-control-plane-arch.adoc
  docs/modules/ROOT/pages/framework/runbooks/AppCatBackupJobError.adoc
  docs/modules/ROOT/pages/framework/runbooks/AppCatHighAvailableDeploymentWarning.adoc
  docs/modules/ROOT/pages/framework/runbooks/AppCatHighAvailableStatefulsetWarning.adoc
  docs/modules/ROOT/pages/framework/runbooks/AppCatHotfixJobError.adoc
  docs/modules/ROOT/pages/framework/runbooks/AppCatMaintenanceJobFailed.adoc
  docs/modules/ROOT/pages/framework/runbooks/AppCatRedis.adoc
  docs/modules/ROOT/pages/framework/runbooks/AppCatRollback.adoc
  docs/modules/ROOT/pages/framework/runbooks/CrossplaneDown.adoc
  docs/modules/ROOT/pages/framework/runbooks/CrossplaneResourceNotReady.adoc
  docs/modules/ROOT/pages/framework/runbooks/CrossplaneResourceUnsynced.adoc
  docs/modules/ROOT/pages/framework/runbooks/GuaranteedUptimeTarget.adoc
  docs/modules/ROOT/pages/framework/runbooks/HighOdooHTTPFailureRate.adoc
  docs/modules/ROOT/pages/framework/runbooks/HighProviderHTTPFailureRate.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: adr-status-valid, adr-index, navigation

Remove broken link
  docs/modules/ROOT/partials/nav.adoc
Due: none

Adjust Forgejo runner ADR and reject it due to security concerns
  docs/modules/ROOT/pages/adr/0054-vshn-managed-forgejo-runners.adoc
Due: adr-status-valid, adr-index, navigation

Adjust ADR refs
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0004-helm-renderer.adoc
Due: navigation

Fix duplicated framework 2 in the nav
  docs/modules/ROOT/partials/nav.adoc
Due: none

Make vale happy
  docs/modules/ROOT/pages/adr/0054-vshn-managed-forgejo-runners.adoc
Due: adr-status-valid, adr-index, navigation

Create Framework 2.0 services.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/services.adoc
Due: navigation

Framework 2.0 service list update
  docs/modules/ROOT/pages/framework/framework-2-0/services.adoc
Due: navigation

Rework 2.0 docs
  docs/modules/ROOT/assets/images/change-track-ui.png
  docs/modules/ROOT/assets/images/helmetica-draft.drawio.svg
  docs/modules/ROOT/assets/images/simple-architecture-2-0.png
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0005-package-format.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0006-change-tracking.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0007-helm-tooling.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0008-harness-depedencies.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0009-improve-wrapper-chart-ux.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0010-s3-bucket-provisioning.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/archive/0001-api-converter.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/archive/0002-claim-lifecycle-and-provisioner-clap.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/archive/0003-stdlib-loader.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/archive/0004-helm-renderer.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/index.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/personas.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/personas/framework-engineer.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/personas/service-maintainer.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/personas/service-operator.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/personas/service-user.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/testing.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

vale is a jerk
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0008-harness-depedencies.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/personas/service-maintainer.adoc
Due: navigation

Fix CRD group
  docs/modules/ROOT/assets/images/helmetica-draft.drawio.svg
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0005-package-format.adoc
Due: navigation

Found another ADR
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0011-crd-controller-architecture.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/index.adoc
  docs/modules/ROOT/partials/nav.adoc
Due: navigation

more substitute appcat->helmetica
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0005-package-format.adoc
  docs/modules/ROOT/pages/framework/framework-2-0/adrs/0011-crd-controller-architecture.adoc
Due: navigation
